@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');
@import url('https://fonts.cdnfonts.com/css/sf-ui-display');
@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-[56px] text-neutral-11 leading-[64px] font-semibold;
  }
  h2 {
    @apply text-[38px] text-neutral-11 leading-[46px] font-semibold;
  }
  h3 {
    @apply text-[24px] text-neutral-11 leading-8 font-semibold;
  }
  h4 {
    @apply text-[20px] text-neutral-11 leading-7 font-semibold;
  }
  h5 {
    @apply text-[16px] text-neutral-11 leading-6 font-semibold;
  }
}

// Reset CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  html {
    scroll-behavior: smooth;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
}
// Global variables
:root {
  --background-color: #f5f5f5;
  --primary-color: #2f61e6;
  --secondary-color: #6ae2f8;
  --complementary-color: #595959;
  --text-color: #595959;
  --gradient-title: linear-gradient(273deg, #2f61e6 -3.78%, #6ae2f8 140.09%);
  --footer-color: #072a88;
}
// Global css
body {
  font-family: 'SF UI Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  /* background: var(--background-color); */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: var(--background-color);
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--complementary-color);
  border-radius: 12px;
}

.max-container {
  @apply mx-auto max-w-[1156px];
}

.padding-container {
  @apply px-4 md:px-10 xl:px-0;
}

/* Header */
.header {
  @apply flexBetween px-4 lg:px-6 h-20 border-b border-white/[.4] fixed top-0 left-0 right-0 z-30 border-solid;
}

/* Footer */

.footer {
  background: var(--footer-color);
  @apply min-h-[470px];
  a {
    @apply transition duration-300;
    &:hover {
      color: var(--secondary-color);
      use {
        fill: var(--secondary-color);
      }
    }
  }
}

// HomeSearch
@media (max-width: 768px) {
  .background--focused {
    background: rgba(47, 97, 230, 0.2);
    backdrop-filter: blur(5px);
  }
  .search-input::placeholder {
  }
}

// Highlight
.fade-bg-l {
  background: linear-gradient(90deg, #fff 5%, rgba(255, 255, 255, 0) 100%);
  @apply absolute w-20 h-full left-0;
}
.fade-bg-b {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  @apply absolute w-full h-[95px] bottom-0;
}
.fade-bg-r {
  background: linear-gradient(-90deg, #fff 5%, rgba(255, 255, 255, 0) 100%);
  @apply absolute h-full w-20 right-0;
}
