.swiper {
  width: 100%;
  height: 100%;
  background: var(--complementary-color);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  --swiper-pagination-left: 32px;
  --swiper-pagination-right: auto;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-width: 3px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
.swiper-pagination-bullet {
  border-radius: 1px;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  height: 24px;
  animation: bulletActive 0.3s ease;
}
@keyframes bulletActive {
  0% {
    height: 22px;
  }
  100% {
    height: 24px;
  }
}
